body {
    margin: 50px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Garamond', 'Timees New Roman', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #63AFAE;
}
a:hover {
    color: #D7E7DC;
    background-color: #576675;
}
h2 {
    font-size: 3em;
    font-family: 'Josefins Sans', 'Arial', 'Sans-Serif';
    color: #FF9A5B;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Georgia', 'Arial', 'Serif'; 
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
