body {
    margin: 60px auto;
    width: 70%;
    font-family:'Georgia', 'Arial', 'Serif';
}
h1 {
    color: #FF9A5B;
     font-family: 'Garamond', 'Times New Roman', 'Serif';
}
h2 {
    color: #687BBE;
     font-family: 'Garamond', 'Times New Roman', 'Serif';
}
nav ul, footer ul {
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #999;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #63AFAE;
}
a:hover {
    color: #D7E7DC;
    background-color: #576675;
}
