<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.gstatic.com"> 
			<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sspiliotopoulos@clarku.edu">email</a></li>
	        		<li><a href="https://github.com/sophspilio">github.com/sophspilio</a></li>
				</ul>
			</footer>
		</body>
	</html>
